/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  /* Header */
  .site-header {
    background-color: #005ea5;
    color: #fff;
    padding: 1rem 0;
  }
  
  .site-header h1 {
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 0.9em;
  }
  nav{
    text-align: center;
    width: max-content;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2px;
    width: 800px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2px;
  }
  
  
  .nav-links li  {
    color: #fff;
    text-decoration: none;
    height: 34px;
    min-width: 205px;
    padding: 5px;

    background-color: #d8d8d8;
  }
  .nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: #58595b;
    font-weight: bold;
  }
  
  
  /* Main Content */
  .contact-container {
    max-width: 1200px;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .contact-container h1{
    font-size: 1.8em;
    color: #58595b;
  }
  .contact-container h2,
  .contact-container h3,
  .contact-container h4 {
    color: #58595b;
    margin-bottom: 0.5rem;
    font-size: 1.4em;
  }
  .grid-item1 h4{
    color: #ffffff;
  }
  
  .contact-container section {
    margin-bottom: 2rem;
  }
  
  .contact-container a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-container a:hover {
    text-decoration: underline;
  }
  
  /* Footer */
  .site-footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  .site-footer .footer-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .site-footer .footer-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .site-footer .footer-links li a:hover {
    text-decoration: underline;
  }
  