body {
    margin: 0;
    font-family:  sans-serif;
    background: #f2f2f2;
    color: #333;
  }
  
  .content-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 30px;
    padding: 20px;
    background: white;
  }
  
  .hero {
     
    color: white;

    text-align: center;
  }
  
  
  .hero img {
    overflow: hidden;
    width: 200%


  }
  
  .training-sections {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 0.9fr));
    gap: 22px;
    padding: 40px 0;
  }
  
  .training-card {
    display: flex;
    flex-direction: column;
    background: #58595b;
    transition: 0.3s;
    overflow: hidden;
  }
  .training-card img{
    width: 277  px;
    height: 155px;
  }
  
  .training-card:hover {
    background: #333;
  }
  
  .training-card h2 {
     font-size: 1.1em;
     font-weight: normal;
     margin-left: 10px;
   }
     
  .training-card a {
    
    color: #fff;
    text-decoration: none;
      
    
  }
  
  .contact-section {
    margin-top: 20px;
    padding: 8px 13px;
    background: #58595b;
    color: #fff;
    width: 185px;
    height: 20px;
    font-size: 11.5px;
    align-content: center;
    
  }
  .contact-section h3{
    margin: 0;
  }
  
  